/* ================================
      Core
 ================================*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #283136;
    background: #fff;
}

p {
    margin: 0;
}

/* ================================
      Common
 ================================*/
.center-container {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

.center-container:before,
.center-container:after {
    content: " ";
    display: table;
}

.center-container:after {
    clear: both;
}

.btn {
    display: inline-block;
    width: 240px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.btn:active {
    -webkit-box-shadow: inset 0 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 2px rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px rgba(0, 0, 0, .15);
}

.btn-default {
    background: #fb565a;
}

.btn-default:hover {
    background: #d6494d;
}

.btn-default:active {
    background: #b63538;
    color: #c77375;
}

.btn-success {
    background: #00ca74;
}

.btn-success:hover {
    background: #01a25e;
}

.btn-success:active {
    background: #009053;
    color: #4db287;
}

.btn-warning {
    background: #efc84a;
}

.btn-warning:hover {
    background: #d6ae2c;
}

.btn-warning:active {
    background: #c09b24;
    color: #d3b966;
}

/* ================================
      Header
 ================================*/
.page-header {
    padding-top: 26px;
    background: #eee;
}

.logo,
.nav {
    float: left;
}

.logo {
    width: 140px;
    margin-right: 180px;
}

.basket {
    float: right;
}

.logo-link {
    display: block;
    width: 140px;
    height: 58px;
    background: url(../img/logo.png) no-repeat;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.nav-menu {
    margin: 0;
    padding-left: 0;
    padding-top: 28px;
    list-style: none;
    font-size: 0;
}

.nav-menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 44px;
    font-size: 14px;
}

.nav-menu-item:last-child {
    margin-right: 0;
}

.nav-menu-link {
    display: block;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.nav-menu-link:hover {
    color: #fb565a;
}

.nav-menu-item.active .nav-menu-link {
    position: relative;
}

.nav-menu-item.active .nav-menu-link:hover {
    color: #000;
}

.nav-menu-item.active .nav-menu-link:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #fb565a;
}

.nav-menu-item.disabled .nav-menu-link {
    color: #bdbdbd;
    cursor: default;
}

.basket {
    padding-top: 28px;
}

.basket-status {
    position: relative;
    display: block;
    padding-left: 25px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

.basket-status.disabled {
    color: #bdbdbd;
    cursor: default;
}

.basket-status:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 14px;
    margin-top: -9px;
    background: url(../img/icon-basket.png);
}

/* ================================
      Slider
 ================================*/
.slider {
    position: relative;
    margin-bottom: 80px;
    min-height: 350px;
    background: #eee;
}

.slider-items {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.slider-item {
    display: none;
}

.slider-item.active {
    display: block;
}

.slider-title {
    margin-bottom: 17px;
    padding-top: 42px;
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    color: #000;
}

.slider-desc {
    margin-bottom: 27px;
}

.slider-item-design {
    width: 330px;
}

.slider-item-math {
    width: 480px;
}

.slider-item-hardcore {
    width: 440px;
}

.slider-item:before {
    content: " ";
    position: absolute;
    right: 0;
}

.slider-item-design:before {
    top: 22px;
    width: 338px;
    height: 231px;
    background: url(../img/slider-design.png) no-repeat;
}

.slider-item-math:before {
    top: 22px;
    width: 230px;
    height: 249px;
    background: url(../img/slider-math.png) no-repeat;
}

.slider-item-hardcore:before {
    top: 0;
    width: 333px;
    height: 319px;
    background: url(../img/slider-hardcore.png) no-repeat;
}

.slider-indicators {
    position: absolute;
    bottom: 90px;
    left: 50%;
    width: 100px;
    height: 12px;
    margin-left: -50px;
    font-size: 0;
    text-align: center;
    z-index: 1000;
}

.slider-indicator {
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.slider-indicator:last-child {
    margin-right: 0;
}

.slider-indicator.active {
    background: #c1c1c1;
}

/* ================================
      Features
 ================================*/
.features {
    margin: 0 0 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eee;
}

.features:before,
.features:after {
    content: " ";
    display: table;
}

.features:after {
    clear: both;
}

.feature {
    float: left;
    width: 240px;
    margin-right: 80px;
    padding-top: 155px;
}

.feature:last-child {
    margin-right: 0;
}

.feature-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

.feature-desc {
    margin-bottom: 25px;
}

.feature-site {
    background: url(../img/feature-site.png) no-repeat;
}

.feature-app {
    background: url(../img/feature-apps.png) no-repeat;
}

.feature-presentation {
    background: url(../img/feature-present.png) no-repeat;
}

.feature .btn {
    width: 140px;
}

/* ================================
      Block about studio
 ================================*/
.about-us:before,
.about-us:after,
.work:before,
.work:after {
    content: " ";
    display: table;
}

.about-us:after,
.work:after {
    clear: both;
}

.about-us {
    margin-bottom: 40px;
}

.work {
    margin-bottom: 60px;
}

.about-us-info,
.work-development {
    float: left;
    width: 560px;
}

.about-us-logo,
.work-mood {
    float: right;
    width: 240px;
}

.about-us-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    color: #000;
}

.about-us-logo {
    height: 120px;
}

.about-us-img {
    width: 100%;
}

.work-title {
    margin: 0 0 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.work-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.work-list-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 35px;
}

.work-list-item:last-child {
    margin-bottom: 0;
}

.work-list-item:before {
    content: " ";
    position: absolute;
    width: 25px;
    top: 10px;
    left: 0;
    border-bottom: 2px solid #fb565a;
    z-index: 1;
}

/* ================================
      Portfolio
 ================================*/
.portfolio {
    margin-bottom: 80px;
    padding: 37px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 0;
}

.portfolio-link {
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    margin-right: 80px;
    font-size: 16px;
    text-align: center;
}

.portfolio-link:last-child {
    margin-right: 0;
}

.portfolio-img {
    opacity: 0.2;
}

.portfolio-img:hover {
    opacity: 1;
}

.portfolio-img:active {
    opacity: 0.1;
}

/* ================================
      Map
 ================================*/
.map {
    position: relative;
    height: 416px;
    background: url(../img/map.jpg) no-repeat center center;
}

.contacts {
    position: absolute;
    left: 50%;
    top: 88px;
    width: 240px;
    margin-left: -440px;
    padding: 25px 20px 25px;
    z-index: 10;
    background: #fff;
    line-height: 20px;
    color: #666;
    font-style: normal;;
}

.contacts-studio {
    margin-bottom: 15px;
    line-height: 30px;
    color: #000;
}

.contacts-studio-name {
    font-weight: 700;
}

.contacts-tel {
    margin-top: 20px;
    margin-bottom: 30px;
}

.contacts .btn {
    width: 200px;
}

/* ================================
      Footer
 ================================*/
.page-footer {
    padding: 75px 0;
}

.page-footer:before,
.page-footer:after {
    content: " ";
    display: table;
}

.page-footer:after {
    clear: both;
}

.social-links {
    float: left;
    width: 300px;
}

.offer {
    float: right;
    width: 560px;
}

.social-link {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #f1f1f1;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    vertical-align: middle;
}

.social-link:hover {
    background: #fb565a;
}

.social-link:active {
    background: #d6494d;
}

.social-link:last-child {
    margin-right: 0;
}

.social-link:after {
    content: "";
    position: absolute;
    z-index: 20;
}

.social-link-vk:after {
    left: 24px;
    top: 22px;
    width: 14px;
    height: 16px;
    background: url(../img/icon-vk.png);
}

.social-link-fb:after {
    left: 25px;
    top: 19px;
    width: 11px;
    height: 23px;
    background: url(../img/icon-fcb.png);
}

.social-link-inst:after {
    left: 21px;
    top: 21px;
    width: 19px;
    height: 18px;
    background: url(../img/icon-insta.png);
}

.offer-title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 1;
    font-weight: 500;
    color: #000;
}

/* ================================
      Welcome block
 ================================*/
.welcome {
    margin-bottom: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
    background: #eee;
}

.welcome-title {
    margin: 0;
    font-size: 40px;
    line-height: 1.24;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

/* ================================
      Catalog
 ================================*/
.catalog-container {
    margin-bottom: 80px;
}

.catalog-container:before,
.catalog-container:after {
    content: " ";
    display: table;
}

.catalog-container:after {
    clear: both;
}

.catalog-filter {
    float: left;
    width: 240px;
}

.catalog-items {
    float: right;
    width: 560px;
}

.filter-group {
    margin-bottom: 35px;
}

.filter-group:last-child {
    margin-bottom: 0;
}

.filter-group-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.range {
    position: relative;
    width: 240px;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range-scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.range-bar {
    height: 2px;
    background: #00ca74;
}

.range-toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 20px;
    height: 20px;
    border: 8px solid #fff;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-toggle-max {
    left: 145px;
}

.price-controls {
    width: 240px;
    text-transform: uppercase;
    white-space: nowrap;
}

.price-input {
    width: 80px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    background: #f1f1f1;
    color: #283136;
}

.price-min {
    margin-left: 8px;
    margin-right: 8px;
}

.price-max {
    margin-left: 9px;
}

.filter-control {
    margin-bottom: 15px;
}

.filter-control:last-child {
    margin-bottom: 0;
}

.filter-control input[type="radio"],
.filter-control input[type="checkbox"] {
    display: none;
}

.filter-control-label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    line-height: 20px;
}

.filter-control-label:hover {
    color: #000;
}

.filter-control-label:active {
    color: #f3f4f5;
}

.filter-control input[type="radio"] + .filter-control-label:before {
    content: " ";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 4px solid #d8dddf;
    background: #fff;
    z-index: 10;
}

.filter-control input[type="radio"] + .filter-control-label:hover:before {
    content: " ";
    border: 4px solid #a2a9ac;
}

.filter-control input[type="radio"] + .filter-control-label:active:before {
    content: " ";
    border: 4px solid #f3f4f5;
}

.filter-control input[type="radio"]:checked + .filter-control-label:after {
    content: " ";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    background: #d8dddf;
    z-index: 20;
}

.filter-control input[type="radio"]:checked + .filter-control-label:hover:after {
    content: " ";
    background: #a2a9ac;
}

.filter-control input[type="radio"]:checked + .filter-control-label:active:after {
    content: " ";
    background: #f3f4f5;
}

.filter-control input[type="checkbox"] + .filter-control-label:before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #d8dddf;
    border-radius: 4px;
    z-index: 10;
}

.filter-control input[type="checkbox"] + .filter-control-label:hover:before {
    content: " ";
    background: #a2a9ac;
}

.filter-control input[type="checkbox"] + .filter-control-label:active:before {
    content: " ";
    background: #f3f4f5;
}

.filter-control input[type="checkbox"]:checked + .filter-control-label:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff url(../img/chbx.png) no-repeat;
    z-index: 12;
}

.filter-control input[type="checkbox"]:checked + .filter-control-label:hover:after {
    content: " ";
    background: #fff url(../img/chbx-hover.png) no-repeat;
}

.filter-control input[type="checkbox"]:checked + .filter-control-label:active:after {
    content: " ";
    background: #fff url(../img/chbx-active.png) no-repeat;
}

.sort {
    margin-bottom: 43px;
    padding: 5px 0;
    line-height: 18px;
}

.sort:before,
.sort:after {
    content: " ";
    display: table;
}

.sort:after {
    clear: both;
}

.sort-title {
    float: left;
    display: inline-block;
    margin-right: 40px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
}

.sort-list {
    float: left;
}

.sort-link {
    display: inline-block;
    margin-right: 40px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    border-bottom: 1px dotted #00ca74;
}

.sort-link:hover {
    border-bottom: 1px solid #00ca74;
}

.sort-link:active {
    border-bottom: none;
    color: #cacaca;
}

.sort-link:last-child {
    margin-right: 0;
}

.sort-controls {
    float: right;
}

.sort-control-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #00ca74;
}

.sort-control-down:hover {
    border-top: 10px solid #a2a9ac;
}

.sort-control-down:active {
    border-top: 10px solid #e5e5e5;
}

.sort-control-top {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ccc;
}

.sort-control-top:hover {
    border-bottom: 10px solid #a2a9ac;
}

.sort-control-top:active {
    border-bottom: 10px solid #e5e5e5;
}

.makets {
    font-size: 0;
}

.maket {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 80px;
    font-size: 14px;
}

.maket:nth-child(2n) {
    margin-right: 0;
}

.maket:hover {
    cursor: pointer;
}

.maket:before {
    content: " ";
    position: absolute;
    top: -30px;
    width: 240px;
    height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #f1f1f1;
}

.maket:hover:before {
    content: " ";
    position: absolute;
    top: -30px;
    width: 240px;
    height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #797979;
}

.maket:after {
    content: " ";
    position: absolute;
    left: 50%;
    top: -20px;
    margin-left: -75px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    z-index: 3000;
}

.maket-img-wrapper {
    width: 100%;
    height: 240px;
}

.maket-img-wrapper:before {
    content: " ";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: -20px;
    left: 10px;
    border-radius: 50%;
    background: #fff;
    z-index: 5000;
}

.maket-img-wrapper:after {
    content: " ";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: -20px;
    left: 28px;
    border-radius: 50%;
    background: #fff;
    z-index: 2000;
}

.maket-img {
    width: 100%;
}

.maket-caption {
    display: none;
    position: absolute;
    width: 200px;
    min-height: 200px;
    left: 20px;
    top: 20px;
    padding: 30px;
    background: #fff;
    z-index: 100;
}

.maket:hover .maket-caption {
    display: block;
}

.maket-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.maket-desc {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.maket-caption .btn {
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1;
}

.pagination {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.pagination-item {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-link {
    display: block;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
}

.pagination-link:hover {
    border: 2px solid #e5e5e5;
    background: #e5e5e5;
}

.pagination-link:active {
    background: #d5d5d5;
    color: #a9a9a9;
    border-top: none;
    border-color: transparent;
    box-shadow: 0 3px 0 0 #b5b5b5 inset;
}

.pagination-item.active .pagination-link {
    background: #fff;
    border: 2px solid #f1f1f1;
}

.pagination-item.active .pagination-link:hover {
    background: #fff;
    border: 2px solid #f1f1f1;
}

.pagination-item.active .pagination-link:active {
    background: #fff;
    border: 2px solid #f1f1f1;
    color: #000;
    box-shadow: none;
}




